<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="adminhtml_customer_prepare_save">
		<observer name="customer_notification_address_after_save_observer" instance="Brainvire\CustomerNotification\Observer\AfterAddressSaveObserver" />
	</event>
</config>