<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fps_index_listing_data_source" xsi:type="string">Brainvire\Fps\Model\ResourceModel\Fps\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Brainvire\Fps\Model\ResourceModel\Fps\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">fps</argument>
            <argument name="eventPrefix" xsi:type="string">fps_collection</argument>
            <argument name="eventObject" xsi:type="string">fps_collection</argument>
            <argument name="resourceModel" xsi:type="string">Brainvire\Fps\Model\ResourceModel\Fps</argument>
        </arguments>
    </type>
    <virtualType name="FpsFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="FpsDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Brainvire\Fps\Model\ResourceModel\Fps\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FpsFilterPool</argument>
        </arguments>
    </virtualType>
</config>
