<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name Shipping Address has been changed" store_name=$store.getFrontendName()}} @-->
<!--@vars {} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Hello %name," name=$customer.name}}</p>
<br>

<p>
    {{trans "Your shipping information for %store_name has been changed." store_name=$store.getFrontendName()}}
</p>
<br>

<p>{{trans "Thanks,<br>%store_name" store_name=$store.getFrontendName() |raw}}</p>

{{template config_path="design/email/footer_template"}}
