<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="createzenddesk" translate="label" sortOrder="10">
            <label>Zenddesk Configuration</label>
        </tab>
        <section id="zenddesk" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>createzenddesk</tab>
            <resource>Brainvire_CreateZenddeskTicket::zenddesk_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="subdomain" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Subdomain</label>
                    <comment>Subdomain from zendesk account For example: https://brainvirehelp.zendesk.com(subdomain : brainvirehelp)</comment>
                </field>
                <field id="username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                    <comment>Username of Account</comment>
                </field>
                <field id="token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                    <comment>Get token from Zendesk API section</comment>
                </field>
            </group>
        </section>
    </system>
</config>
