<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<preference for="Magento\Catalog\Block\Adminhtml\Category\Tab\Product" type="Brainvire\Coreoverride\Block\Adminhtml\Category\Tab\Product" />
	<type name="Magento\Catalog\Model\Config">
		<plugin name="Brainvire_Coreoverride::addCustomOptions" type="Brainvire\Coreoverride\Plugin\Model\Config" />
	</type>
	<type name="Magento\Catalog\Block\Product\ProductList\Toolbar">
		<plugin name="Brainvire_Coreoverride::addPriceDecendingFilterInToolbar" type="Brainvire\Coreoverride\Plugin\Product\ProductList\Toolbar" />
	</type>
</config>