<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Brainvire_CategoryBannerslider::manage" title="Category BannerSlider" translate="title" module="Brainvire_CategoryBannerslider" sortOrder="50"  resource="Magento_Backend::content"/>
        <add id="Brainvire_CategoryBannerslider::manage_banner" title="Manage Category Banner" translate="title" module="Brainvire_CategoryBannerslider" sortOrder="60" parent="Brainvire_CategoryBannerslider::manage" action="categorybanner/banner/index" resource="Brainvire_CategoryBannerslider::manage_banner"/>
        <add id="Brainvire_CategoryBannerslider::settings" title="Bannerslider Settings" translate="title" module="Brainvire_CategoryBannerslider" sortOrder="60" parent="Brainvire_CategoryBannerslider::manage" action="adminhtml/system_config/edit/section/categorybannerslider" resource="Brainvire_CategoryBannerslider::settings"/>
    </menu>
</config>
